<%= render "shared/error", obj: @user %>
<div class="container-fiuld user">
  <div class="row">
    <%= render "devise/shared/users_setting"%>
    <div class="col-lg-10 user-view">
      <div class="user-view-box">
        <div class="update-content">
          <div class="row">
            <h5>プロフィール</h5>
          </div>
        </div>
        <%= form_with model:@user, url: users_profile_path, class: "edit_user" do |f| %>
          <div class="update-content">
            <div class="row">
              <div class="col-md-6 offset-md-3">
                <div class="icon-box">
                  <% if current_user.icon.present? %>
                    <%= image_tag current_user.icon.url, class: "icon-image host-icon" %>
                  <% else %>
                    <%= image_tag 'default.png', class: "icon-image host-icon" %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
          <div class="update-content">
            <div class="row">
              <%= f.label "アイコン画像", class: "col-md-3" %>
              <%= f.file_field :icon, class: "mb-4 col-md-9" %>
            </div>
          </div>
          <div class="update-content">
            <div class="row">
              <%= f.label :name, class: "col-md-3" %>
              <%= f.text_field :name, class: "form-control mb-4 col-md-9" %>
            </div>
          </div>
          <div class="update-content">
            <div class="row">
              <%= f.label "自己紹介",  class: "col-md-3" %>
              <%= f.text_area :introduction, class:"form-control mb-4 col-md-9" %>
            </div>
          </div>
          <div class="update-content">
            <div class="row">
              <%= f.submit "更新", class: "col-md-2 btn btn-primary mx-3" %>
            </div>
          </div>
        <% end %>
      </div> 
    </div>  
  </div>
</div>


  
    
   