<div class="container-fiuld reservations">
  <h4 class="pb-4">予約済みルーム一覧</h4>
  <table>
    <thead>
      <tr align="center">
          <th>ルーム画像</th>
          <th>ルーム名</th>
          <th>ルーム紹介</th>
          <th>合計料金</th>
          <th>開始日</th>
          <th>終了日</th>
          <th>予約確定日時</th>
      </tr>
    </thead>
    <tbody>
      <% @reservations.each do |room| %>
        <tr>
          <td>
            <%= link_to room.room, class: "link_deco_none" do %>
              <%= image_tag room.room.image, class: "reservations-image" %>
            <% end %>
          </td>
          <td class="posts-name">
            <%= link_to room.room do %>
              <%= room.room.name %>
            <% end %>
          </td>
          <td class="posts-content"><%= room.room.introduction %></td>
          <td>¥<%= room.total_price %></td>
          <td><%= room.start_date%></td>
          <td><%= room.end_date %></td>
          <td><%= room.created_at %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>